<!-- aprobar-solicitudes.component.html -->
<div class="table-responsive">
  <h2>Solicitudes Pendientes</h2>

  <input type="text" class="form-control mb-3" placeholder="Buscar solicitud..." [(ngModel)]="filtroBusqueda">

  <table class="table table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Material</th>
        <th>Usuario</th>
        <th>Estado</th>
        <th>Fecha Solicitud</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let solicitud of solicitudesFiltradas()">
        <td>{{ solicitud.id }}</td>
        <td>{{ solicitud.material.titulo }}</td>
        <td>{{ solicitud.usuario.nombre }}</td>
        <td>{{ solicitud.estado }}</td>
        <td>{{ solicitud.fechaSolicitud | date }}</td>
        <td>
          <button class="btn btn-success me-2" (click)="confirmarSolicitud(solicitud.id, true)">Aprobar</button>
          <button class="btn btn-danger" (click)="confirmarSolicitud(solicitud.id, false)">Rechazar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<!-- aprobar solicitudes renovacion de prestamos -->
<div class="table-responsive">
  <h2>Solicitudes de renovacion pendientes</h2>

  <input type="text" class="form-control mb-3" placeholder="Buscar solicitud..." [(ngModel)]="filtroBusqueda">

  <table class="table table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th>ID PRESTAMO</th>
      <!--  <th>ID USUARIO</th>-->
        <th>U. Nombre</th>
        <th>MATERIAL TITULO</th>
        <th>FECHA DEL PRESTAMO</th>
        <th>FECHA PARA DEVOLVER</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let solicitud of renovacionesFiltradas()">
        <td>{{ solicitud.id_Prestamo }}</td>
       <!-- <td>{{ solicitud.id_usuario }}</td>-->
        <td>{{ solicitud.usuario.nombre }}</td>
        <td>{{ solicitud.materialEntity.titulo }}</td>
        <td>{{ solicitud.fecha_prestamo| date}}</td>
           <td>{{ solicitud.fecha_devolucion| date}}</td>
        <td>
      <button class="btn btn-success me-2" (click)="confirmarRenovacion(solicitud.id_Prestamo, true)">Aprobar</button><br>
<button class="btn btn-danger" (click)="confirmarRenovacion(solicitud.id_Prestamo, false)">Rechazar</button>

        </td>
      </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

